asgiref==3.7.2
async-timeout==4.0.3
channels==4.0.0
channels-redis==4.1.0
dj-database-url==2.1.0
Django==4.2.6
djangorestframework==3.14.0
gunicorn==21.2.0
msgpack==1.0.7
numpy==1.26.1
opencv-python==4.8.1.78
packaging==23.2
psycopg2==2.9.9
pytz==2023.3.post1
redis==5.0.1
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
